@import './imports';

body {
    margin-bottom: 50vh;
    font-family: $font-family !important;
}
  
h1,
h2,
h3,
h4 {
  box-sizing: border-box !important;
  position: relative !important;
  margin-bottom: 8px !important;
  margin-top: 0 !important; 
  font-family: $font-family !important;
  text-align: center !important;
}

@mixin background-color($color) {
  background-color: $color;
}
  
.background-color {
  position: fixed;
  top: 0;
  left: 0;
  z-index: map-get($depth, content) - 1;
  width: 100vw;
  height: 100vh;
  background-color: mat-color($my-primary);
  opacity: 0.04;
}

$levels: (
  ('success', $success),
  ('warning', $warning),
  ('error', $error),
  ('info', $info)
);

@each $lvl, $color in $levels {
  .toast-#{$lvl} {
    @include background-color($color);
  }
}
