/* Media */
$smallscreen: 450px;
$desktop: 1024px;

/* Font */
$font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

/* Color */
$white: #f6f6f6;
$dark_gray: #484848;
$gray: #6c757d;
$light_gray: #8d8d8d;
$gray_hover: #cfcfcf;
$true_white: #fff;
$black: #000;
$info: #283593;
$success: #1aaa55;
$warning: #fc6d26;
$error: #ff3838;
$my-primary: mat-palette($mat-light-green, A400);
$my-accent: mat-palette($mat-indigo, A400);
$my-warn: mat-palette($mat-orange, A400);
$my-theme: mat-light-theme((
    color: (
        primary: $my-primary, 
        accent: $my-accent, 
        warn: $my-warn
    )
));

$bezier: cubic-bezier(0.86, 0, 0.07, 1);
$border_radius: 3px;

/* zindex */
$depth: (
  'background': -10,
  'content': 1,
  'tooltip': 75,
  'toolbar': 100,
  'overlay': 200,
  'top': 300,
  'modal': 400
);
