<h2>{{'user.signin.title'|translate}}:</h2>
<div class="signin-content">
  <form #signinForm="ngForm">
    <mat-error>{{message}}</mat-error>
    <mat-form-field appearance="outline">
      <input matInput [(ngModel)]="username" placeholder="{{'global.username'|translate}}" type="text"
        #inputName="ngModel" name="inputName" required maxlength="30" />
      <mat-error *ngIf="inputName.errors != null && inputName.errors.required && !inputName.pristine">
        {{'global.username_required'|translate}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <input matInput [(ngModel)]="password" placeholder="{{'user.password'|translate}}" type="password"
        #inputPassword="ngModel" name="inputPassword" required maxlength="30" />
      <mat-error *ngIf="inputPassword.errors != null && inputPassword.errors.required && !inputPassword.pristine">
        {{'user.password_required'|translate}}</mat-error>
    </mat-form-field>

    <div class="signin-footer">
      <button type="submit" mat-raised-button color="primary" (click)="login()"
        [disabled]="signinForm.invalid">{{'user.signin.sign_in'|translate}}</button>
      <!-- <button type="button" class="btn btn-outline-primary" routerLink="/login/forgot" [queryParams]="{name: username}">{{'user.signin.forgot'|translate}}</button>-->
      <button type="button" mat-raised-button color="primary" routerLink="/user/signup"
        [queryParams]="{username: username}">{{'user.signup.sign_up'|translate}}</button>
      <!-- <app-dropdown-language class="dropdown-center"></app-dropdown-language> -->
    </div>
  </form>
</div>