@import "../../../styles/styles";

.toogle-button {
  z-index: map-get($depth, 'content');

  & fa-icon {
    opacity: 1;
    color: mat-color($my-primary);
  }
}

.active-nav-item {
  color: mat-color($my-primary);
}

.nav-list {
  display: inline-flex;
  flex-direction: column;
  height: 95%;
  overflow-y: visible;
  overflow-x: hidden;

  & > * {
    margin: 0 2px 0 2px;
  }

  & .btn {
    padding: 10px;
  }

  & .ng-fa-icon {
    margin-right: 6px;
  }
}

.mat-drawer-container {
    background-color: #fff !important;
}

.mat-sidenav {
    top: 55px !important;
}

.sidenav-content {
    width: 101vw;
}
  
@include media(#{$smallscreen}) {
  :host .nav-list {
    & > * {
      margin: 0;
    }
  }

  .header-buttons {
    padding: 10px 0 0 0;
  }
}
