<mat-form-field appearance="outline">
    <input type="text" placeholder="{{placeholder|translate}}" matInput [matAutocomplete]="auto"
        #inputLocation="matInput">
</mat-form-field>
<button type="button" mat-raised-button color="primary"
    (click)="search(inputLocation.value)">{{'global.research'|translate}}</button>
<mat-autocomplete #auto="matAutocomplete" autoActiveFirstOption panelWidth="100 %"
    (optionSelected)="select($event.option.value)">
    <mat-option *ngFor="let location of locations" [value]="location.name">
        <div [matTooltip]="location.name">{{location.name}}</div>
    </mat-option>
</mat-autocomplete>