@import "../../../styles/styles";

.signup-content {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 5vh auto;
  padding: 25px;
}

.mat-form-field {
  display: inherit;
  width: 200px;
}

.signup-footer {
  display: flex;
  padding-top: 1.25em;

  & button {
    margin: 5px;
  }
}

::ng-deep.mat-form-field-subscript-wrapper {
  padding: 0 0 1em 0 !important;
  margin-top: 0 !important;
}
